/node_modules/
.next/
out/
.env
.env.local
.env*.local
.vercel
*.log
.DS_Store
Thumbs.db


PRODUCT_IMAGES/
WEBSITE-DESIGN-IMGS/
*.tsbuildinfo
data-import/
.playwright-mcp/
design-ideas-DO_NOT_OPEN/
assets/
